<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= I18n.t('errors.messages.error_message',count: object.errors.count, count_en: pluralize(object.errors.count, "error") ) %>
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>